@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 100%;
    height: 4rem;
    border-bottom: 1px solid white;
    position: fixed;
}

.left-nav{
    width: 45%;
    display: flex;
    justify-content: center;
}

.right-nav{
    width: 55%;
    display: flex;
    align-items: center;
}

.right-nav ul{
    display: flex;
    width: 725.24px;
    margin-left: 20px;
    gap: 30px;
    align-items: center;
    list-style: none;
}

.nav-links a{
    font-size: 16px;
    font-weight: 600;
    line-height: 27px;
    text-align: left;
    color: white;
}

.nav-links a:hover{
    color: #00FFA7;
}

.active{
    color: #00FFA7 !important;
}



.container{
    width: 100%;
    height: 471.56px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.head{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 55%;
    margin-top: 100px;
}

.cont-one{
    font-size: 100px;
    font-weight: 800;
    line-height: 10.5px;
    letter-spacing: 0.11em;
    text-align: left;
    text-transform: uppercase;
    color: white;
}

.gradient{
    background: linear-gradient(270deg, #00FFA7 0%, #FFFF00 100%);
    background-clip: text;
    color: transparent;
}

.cont-two{
    color: white;
    font-size: 100px;
    text-transform: uppercase;
    font-weight: 900;
}

.cont-three{
    color: white;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 27.39px;
    letter-spacing: 0.06em;
    text-align: center;

}

.cont-four{
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 155px;
    height: 44.86px;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 600;
    line-height: 25.4px;
}

.arrow{
    font-size: 23px;
}


/* Section */

.section{
    width: 100%;
    height: 1015px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-cont{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 80%;
    height: 85%;
    /* border: 1px solid black; */
}


.service{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 4%;
    gap: 5px;

}
.service-1{
    font-family: Poppins;
    font-size: 50px;
    font-weight: 600;
    line-height: 70.7px;
    text-align: left;

}

.service-2{
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 25.45px;
    text-align: left;

}

.cards{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card{
    width: 22%;
    height: 382px;
    top: 206px;
    left: 351px;
    border-radius: 20px;
    border: 1px solid black;
}

.card-1{
    height: 15%;
    border-bottom: 2px solid black;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 600;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.card-1 img{
    width: 35px;
    height: 35px;
    margin-left: 20px;
}

.card-2{
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: Poppins;
    font-size: 13px;
    font-weight: 600;
    line-height: 24.24px;
    text-align: center;

}

.card-2 h1{
    margin-top: 40px;
}

.card-2 img{
    width: 241px;   
    height: 146px;
    margin-top: 43px;
}

.card-3{
    height: 15%;
    border-top: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.card-3 button{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    margin-right: 20px;
    width: 121px;
    height: 38.55px;
    border: 1px solid black;
    border-radius: 50px;

    font-family: Poppins;
    font-size: 14px;
    font-weight: 600;
    line-height: 19.8px;
    text-align: left;


}

.card-3 button:hover{
    color: white;
    background-color: black;
    cursor: pointer;
    transition: all 0.6s;
}

.c-1-color{
    background: #2BFF8A;
}

.c-2-color{
    background: #00F0FF;
}
.c-3-color{
    background: #FC5959;
}
.c-4-color{
    background: #2D45E6;

}


.hr{
    width: 60%;
    margin: 0 auto;
    background-color: white;
    height: 0.1px;
}

footer{
    width: 100%;
    height: 130px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 15px;
    color: white;

}



@media only screen and (max-width: 900px) {
    .cards{
        flex-direction: column;
    }

    .card-1{
        font-size: 14px;
    }
    .card-1 img{
        width:25px;
        height: 25px;
    }

    .card-2{
        font-size: 8px;
    }
    .card-2 img{
        width: 191px;   
        height: 126px;
    }
    .cont-three{
        font-size: 12px;
    }

    .nav{
        flex-direction: column;
    }

    .cards{
        justify-content: center;
    }

    .card{
        width: 350px;
        margin: 0 auto;
    }
    

    .cont-one, .cont-two{
        font-size: 30px;
    }

    .section{
        height: 100%;
        margin-bottom: 20px;
    }

    .footer{
        font-size: 8px;
    }
}